/* global.css */
html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
img {
  display: block;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-style: dotted;
}

th {
  padding: 20px;
}

th > p {
  font-weight: bolder;
}

td {
  padding: 10px;
}

.ant-tabs-tab-btn {
  color: #212529 !important;
}

.ant-tabs-tab {
  border-right: 1px solid #6f6f6f !important;
  padding: 10px 10px !important;
  min-width: 130px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-tabs-ink-bar {
  background-color: transparent !important;
}

.ant-tabs-tab-active {
  background: #e4e4e4 !important;
}

.ant-tabs-nav-more {
  display: none !important;
}

.quill-wrapper .ql-container {
  border: none !important;
}

.quill-wrapper .ql-toolbar {
  display: none;
}

.quill-wrapper.focused .ql-toolbar {
  display: block;
}

.antd-table table,
.antd-table th,
.antd-table td {
  border: none;
}
